html {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 189, 189);
    background-color: rgb(39, 39, 39);
}

main {
    text-align: center;
}

#headshot {
    height: 125px;
    float: left;
    margin-left: 10%;
    border-radius: 50%;
    margin-top: 10%;
}

header {
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
    margin-bottom: 23%;
}

#name {
    font-size: 30px;
}

a {
    display: block;
    margin-top: 10px;
    color:rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#aboutMe {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    max-width: 90%;
    margin-top: 75px;
    margin-right: 18%;
}

footer img {
    max-width: 75%;
    padding: 10px;
}

#mailto {
    border-radius: 15px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

div {
    text-align: left;
}

img { 
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#mywork {
    font-family: "Open Sans Condensed", sans-serif;
    display: block;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    padding: 0px;
    /*max-width: 300px;*/
    
    }
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (min-width: 576px) {
    #headshot {
        float: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    header {
        font-family: Helvetica;
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    /*img {
        float: right;
        padding-top: 20px;
    }*/
    /*#mywork {
        max-width: 1040px;
    }*/
    #headshot {
        height: 250px;
        float: left;
        margin-left: 10%;
        border-radius: 50%;
        margin-top: 10%;
    }
    header {
        font-family: Helvetica;
        text-align: center;
        font-size: 50px;
        padding: 10px;
        margin-bottom: 15%;
    }
    #name {
        font-size: 50px
    }
    footer {
        margin-top: 100px;
        margin-right: 10%;
        margin-left: auto;
    }
    main {
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    header {
        font-family: Helvetica;
        text-align: center;
        /*font-size: 20px;*/
        padding: 30px;
    }
    footer {
        margin-right: 5%;
    }
    section {
        text-align: center;
    }
    #headshot {
        height: 350px;
        float: left;
        margin-left: 10%;
        border-radius: 50%;
        margin-top: 10%;
    }
    #mailto {
        border-radius: 18px;
    }
}