html {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 189, 189);
    background-color: rgb(39, 39, 39);
    min-height: 100%;
}

main {
    text-align: center;
    margin-top: 85px;
}

#headshot {
    height: 125px;
    float: left;
    margin-left: 10%;
    border-radius: 50%;
}

header {
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
}

#name {
    font-size: 30px;
}

a {
    display: block;
    margin-top: 10px;
    padding: 2px;
    color:rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#aboutMe {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    margin-top: 100px;
    margin-right: 15%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

div {
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mywork {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    max-width: 300px;
}

@media screen and (min-width: 576px) {
    #headshot {
        float: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    header {
        font-family: Helvetica;
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    img {
        float: right;
        padding-top: 20px;
    }
    #mywork {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}