html {
    font-family: sans-serif;
    background-color: rgb(114,114,114);
    background-image: linear-gradient(darkgray 30%, white 50%, white 20%);
    min-height: 100%;
}

main {

}

#headshot {
    float: left;
}

header {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    padding-top: 40px;
}

h1 {
    display: block;
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
}

button {
    display: block;
    padding: 30px;
    margin: auto;
}